front/todolist/.next
front/todolist/node_modules/@next/swc-win-32-x64-msvc
front/todolist/node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node
front/todolist/node_modules/next/next-swc-fallback/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node
